.favourites
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
   
    width: 100%;
   
}
.favourites-details
{
    /* border: 1px solid black; */
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 300px;
    margin:20px 10px;
    background-color: #32ff7e;
    box-shadow: 2px 2px 20px #6F1E51;
    border-radius: 5px;
    
   
}
 #link-tag
{
    display: flex;
    align-items: center;
    text-decoration: none;
}
#link-tag h1
{
    
    font-weight: normal;
    color: black;
    cursor: pointer;
    font-size: 20px;
    margin-left: 20px;
    font-family: 'Lora', serif;

}
#remove-button
{
    height:30px;
    width: 100px;
    font-size: 15px;
    /* padding: 3px 20px; */
    margin-top: 10px;
   background-color: red;
   border: none;
   color: white;
   border-radius: 5px;
   font-family: 'Lora', serif;

  
}