@import url('https://fonts.googleapis.com/css2?family=Arvo:ital@1&family=Cormorant+Garamond:ital,wght@1,500&family=EB+Garamond&family=Kanit:wght@500&family=Lora:ital@1&family=Marck+Script&family=Merriweather+Sans&family=Montserrat:ital,wght@0,100;1,300&family=Moon+Dance&family=Nerko+One&family=Noto+Sans:wght@100&family=Open+Sans&family=Orbitron&family=PT+Serif&family=Roboto+Slab:wght@300&family=Satisfy&family=Unbounded&display=swap');


.home h1 {
    font-weight: normal;
    text-align: center;
    margin-top: 20px;
    font-style: italic;
    font-family: 'Lora', serif;
}

.home .details-division {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px;
}

.home .details-division .user-list {
    /* border: 1px solid black; */
    background: rgba(256, 256, 256, 0.9);
    box-shadow: 3px 2px 10px #130f40;
    margin: 10px;
    padding: 20px;
    text-align: center;
    height: 280px;
    width: 200px;
    border-radius: 10px;
}

.home .details-division .user-list a {
    text-decoration: none;
}

.home .details-division .user-list h3 {
    margin-top: 20px;
    font-family: 'Lora', serif;
    color: #130f40;

}

.home .details-division .user-list img {
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    border: 0.1px solid #130f40;

}

.home .details-division .user-list img:hover {
    scale: 1.1;
    transition: 0.5s;
    box-shadow: 2px 2px 5px #130f40;
}
#load-more 
{
   
    background-color: #130f40;
    color: white;
    font-family: 'Lora', serif;
   padding: 10px 30px;
   border: none;
   border-radius: 5px;
   margin-top: 20px;
}
#load-more:hover
{
    background-color: #273c75;
    
}